.site-footer {
  background-color: #00bf71;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;

  .logo-footer {
    height: 150px;
  }

  hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }

  hr.small {
    margin: 20px 0;
  }

  h6 {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  a {
    margin-left: 5px;
    color: #fff;
    &:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }

  .footer-links {
    padding-left: 0;
    list-style: none;

    li {
      display: block;
    }

    a {
      color: #fff;
      text-decoration: none;
      &:active,
      &:focus,
      &:hover {
        color: #3366cc;
        text-decoration: none;
      }
    }

    &.inline li {
      display: inline-block;
    }
  }

  .social-icons {
    text-align: right;

    a {
      text-decoration: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #b1abab;
    }
  }

  .copyright-text {
    margin: 0;
  }

  @media (max-width: 991px) {
    [class^="col-"] {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 0;

    .copyright-text,
    .social-icons {
      text-align: center;
    }
  }
}

.informasi-footer {
  i {
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-bottom: 4px;
  }

  li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }

  a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: #29aafe;
    }
  }

  &.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }

  a.facebook:hover {
    background-color: #3b5998;
  }

  a.twitter:hover {
    background-color: #00aced;
  }

  a.linkedin:hover {
    background-color: #007bb6;
  }

  a.dribbble:hover {
    background-color: #ea4c89;
  }

  @media (max-width: 767px) {
    li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}
